= provide(:page_title, 'Người mê xe / Chuyên bán xe các loại')
= provide(:page_description, 'Miêu tả')
= provide(:page_url, root_path)

.content-body
  = render partial: 'shared/post', collection: @posts
h1 =@t
