<div class="conversation__footer">
  <div class="conversation__chatbox js-create-message" conversation-id="<%= @conversation.id %>" contenteditable="true" placeholder="Nhập tin nhắn..."></div>
  <div class="conversation-action">
    <label class="form-upload form-upload--sm conversation-action__item js-image">
      <input type="file" id="picture" nam="picture">
      <span><%= inline_svg 'ico_photo.svg' %></span>
    </label>
    <button class="btn-default conversation-action__item">Gửi</button>
  </div>
</div>
