<div class="form-group">
  <label id="preview" for="picture">
    <h4>chon anh</h4>
  </label>
  <input type="file" id="picture" nam="picture">
  <p>````````````````````````````````````````````````````````````````</p>
  <div id="image" style="height:100px; width: 100px;  display: block; background-size: contain; background-repeat: no-repeat;"></div>
  <input class="js-create-message" conversation-id="<%= @conversation.id %>" placeholder="Nhập tin nhắn"
    style="height: 50px; width: 300px" />
</div>
