<div class="messages messages--received enter-message hidden" avatar-data="<%= current_user.avatar_url(:medium) %>">
  <img alt="messages image"class="messages__avatar typing-avatar">
  <p class="messages__typing">
    <span class="messages__dot"></span>
    <span class="messages__dot"></span>
    <span class="messages__dot"></span>
  </p>
</div>
