body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $color-black;
  letter-spacing: normal;
  &.no-scroll {
    overflow: hidden;
    header {
      display: none;
    }
  }
}

.main {
  margin-top: 80px;
  padding-left: 72px;
  padding-right: 72px;
  @media screen and (max-width: 790px) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    margin-top: 0;
    background-color: white;
  }
  
  @media screen and (max-width: 1200px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.content-body {
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
  @include respond-to-mobile() {
    padding: 24px 16px;
    background-color: $color-light-gray;
  }
}

.content-head {
  padding: 12px 32px;
  background-color: white;
  border-bottom: 1px solid $color-true-gray;
  @include respond-to-mobile() {
    display: block;
    padding: 16px;
  }
}

.header {
  @include flexbox(space-between, center);
  position: fixed;
  min-width: auto;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid $color-true-gray;
  transition: all .4s ease;
  &.scroll {
    opacity: 0.6;
    height: 40px;
  }

  @media screen and (max-width: 1200px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.icon-25 {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  transition: all .4s ease;
  &.small {
    height: 0;
    width: 0;
  }
}

.icon-35 {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  transition: all .4s ease;
  &.small {
    height: 0;
    width: 0;
  }
}


.icon-50 {
  height: 100px;
  width: 100px;
  margin-right: 5px;
}

.icon-big {
  height: 80px;
  width: 80px;
  margin-right: 5px;
}

.login-area {
  padding: 24px;
  padding-left: 35%;
  padding-right: 35%;
}

.horizontal {
  display: flex;
  align-items: center;
}

.mr-8 {
  margin-right: 8px;
}

.login {
  box-shadow: 1px 1px 2px 0 #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  border-radius: 10px;
  height: auto;
  width: 500px;
  padding: 32px;
  opacity: 0;
  
  &.animation {
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  @media screen and (max-width: 420px) {
    top: 56px;
    left: 0;
    transform: translate(0, 0);
    height: 100%;
    width: 100%;
    padding: 16px;
    border-radius: 0;
  }
}

.form {
  padding: 32px 0;
}

.form-register,
.form-login {
  position: relative;
}

.text-left {
  text-align: right;
}

.post-create {
  width: 100%;
  height: 100%;
}

.quill {
  border: 0;
  &:hover {
    box-shadow: 1px 1px 2px 0 #ccc;
  }
}

.img-post {
  height: 100px;
  width: 100px;
}

.list-pictures img {
  height: 100px;
  width: 100px;
  margin-right: 4px;
  margin-left: 4px;
  
}
