.row {
  margin-left: -$col-gutter-half;
  margin-right: -$col-gutter-half;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (min-width: 600px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    float: left;
  }

  @for $i from 1 through $col-num {
    .col-#{$i} {
      width: percentage($i / $col-num);
    }
  }
}
