body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color-white;

  @include respond-to-mobile() {
    background-color: $color-true-gray;
  }

  &.no-scroll {
    header,
    .main,
    .post-sticky-nav {
      display: none;
    }
  }
}

.container {
  margin-left: $container-margin;
  margin-right: $container-margin;

  @include respond-to-not-mobile() {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
  }
  
  // @media screen and (max-width: 375px) {
  //   width: 375px;
  // }
}

.row {
  @include clearfix();
  @include respond-to-not-mobile() {
    margin-left: -$col-gutter-half;
    margin-right: -$col-gutter-half;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  @include respond-to-not-mobile() {
    float: left;
    position: relative;
    min-height: 1px;
    margin-bottom: 8px;
  }
}

@for $i from 1 through $col-num {
  @include respond-to-not-mobile() {
    .col-#{$i} {
      width: percentage($i / $col-num);
    }
  }
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  @media (max-width: 670px) {
    float: left;
    position: relative;
    min-height: 1px;
    margin-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

@for $i from 1 through $col-num {
  @media (max-width: 670px) {
    .col-sm-#{$i} {
      width: percentage($i / $col-num);
    }
  }
}
