button:focus,
.btn:focus,
button:active:focus,
.btn:active:focus,
button.active:focus,
.btn.active:focus,
button.focus,
.btn.focus,
button:active.focus,
.btn:active.focus,
button.active.focus,
.btn.active.focus {
  outline: none;
}

.btn {
  width: auto;
  color: $color-black;
  font-size: 13px;
  line-height: 1;
  background-color: $color-white;
  border-radius: 50px;
  border: 1px solid $color-true-gray;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  &.btn-w-full {
    width: 100%;
  }

  &.btn-red {
    background-color: $color-red;
    border: 1px solid $color-red;
    color: $color-white;
  }
  
  @media screen and (max-width: 676px) {
    border: 0;
    background-color: transparent;
  }
}
