button:focus,
.btn:focus,
button:active:focus,
.btn:active:focus,
button.active:focus,
.btn.active:focus,
button.focus,
.btn.focus,
button:active.focus,
.btn:active.focus,
button.active.focus,
.btn.active.focus {
  outline: none;
}

.btn {
  border-radius: 3px;
  background-color: #f8f8f8;
  padding: 10px 16px;
  width: 100%;
  &.w-150 {
    width: 150px;
  }
  &.w-100 {
    width: 100px;
  }
  &.bg-orange {
    background-color: #ff6b00
  }
}
