.filter {
  width: 336px;
  background-color: $color-white;
  border-radius: $radius;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  right: -336px;
  top: 0;
  bottom: 0;
  z-index: 200;
  transition: right 0.5s ease-in-out;

  &.opened {
    right: 0;
  }

  .filter-head {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-true-gray;
    text-align: center;
    position: relative;

    .btn-close {
      position: absolute;
      left: 16px;
      top: 12px;
    }
  }

  .filter-action {
    padding: 0 32px;
  }
}
