.form-control {
  width: 100%;
  padding: 8px 16px;
  border: 0.5px solid $color-true-gray;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 13px;
  
  &:focus,
  &:hover,
  &:active {
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }
  &.no-border {
    border: 0;
  }
}

.form-group {
  margin-top: 16px;

  .form-label {
    display: block;
    margin-bottom: 8px;
    font-size: $font-size-sm;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: $color-black;
  }
}
