header {
  @include flexbox(space-between,center);
  height: 56px;
  position: fixed;
  min-width: 1280px;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-white;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

  .header-logo {
    width: 55px;
    height: 40px;
  }
  
  .notification-header {
    height: 25px;
    width: 25px;  
  }
  
  .notify-header {
    position: relative;
  }
  
  .counter-notify {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    background-color: red;
    padding-left: 6px;
    padding-right: 6px; 
  }
  
  .avatar-header {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  
  .header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    
    li {
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      padding-right: 8px;
      padding-left: 8px;

      &:nth-child(1) {
        border-right: 1px solid $color-lightest-gray;
      }
      
      @media screen and (max-width: 676px) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  
  .button {
    padding-right: 0;
    padding: 10px;
    font-weight: normal;
    border-radius: 20px;
  }
  
  .search {
    border-radius: 10px;
    padding: 5px;
    width: 200px;
  }
}

@media screen and (max-width: 676px) {
  .menu {
    display: none;
  }   
}
