.input-group {
  background-color: $color-white;
  padding: 24px 32px;

  .input-group-name {
    font-size: $font-size-sm;
    color: $color-warm-gray;
    text-transform: uppercase;
  }
}

input[type='radio'],
input[type='checkbox'],
input[type='file'] {
  display: none;
}

.checkbox-item {
  margin-top: 8px;

  &:hover span {
    border-color: $color-red;
  }

  span {
    cursor: pointer;
    padding-left: 24px;
    position: relative;

    &:before {
      @include centered(0, 50%);
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid $color-lightest-gray;
      border-radius: 3px;
    }

    &:after {
      content: '';
      width: 12px;
      height: 6px;
      border-bottom: 1px solid $color-white;
      border-left: 1px solid $color-white;
      bottom: 8px;
      left: 2px;
      opacity: 0;
      position: absolute;
      transform: rotate(-45deg);
      visibility: hidden;
    }
  }

  input[type='checkbox']:checked {
    + span {
      &:before {
        border: 1px solid $color-red;
        background-color: $color-red;
      }

      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.radio-label {
  margin-right: 4px;
  margin-bottom: 8px;

  @include respond-to-mobile() {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  input[type='radio'] {
    + span {
      display: block;
      padding: 12px 16px;
      font-size: $font-size-sm;
      line-height: 1;
      border: 1px solid $color-lightest-gray;
      border-radius: 24px;
      cursor: pointer;
    }

    &:checked + span {
      color: $color-red;
      background-color: $color-light-red;
      border-color: $color-light-red;
    }
  }
}

.radio-tab {
  margin-bottom: 50px;

  cursor: pointer;

  span {
    display: inline-block;
    padding: 12px 16px;
    border-bottom: 1px solid $color-true-gray;

    @include respond-to-mobile {
      padding: 12px 9px;
    }
  }

  input[type='radio']:checked + span {
    color: $color-red;
    border-color: $color-red;
  }

  + .radio-tab {
    margin-left: -4px;
  }
}
