.list-unstyled {
  margin-bottom: 0;
}

.ul-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  
  li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 16px;
    padding-left: 16px;

    &:nth-child(1) {
      border-right: 1px solid $color-lightest-gray;
    }
  }
}
