.register-container {
  background-color: $color-light-gray;
  height: 100vh;
  padding-top: 56px;
}

.register {
  padding: 24px;
  width: 450px;
  margin: 40px auto 0;

  .form-group {
    margin-top: 32px;
  }
}
