.nav {
  width: 200px;
  height: calc(100vh - 56px);
  background-color: $color-white;
  border-right: 1px solid $color-true-gray;
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 50;

  + .content {
    margin-left: 200px;
  }

  .nav-list {
    li {
      border-bottom: 1px solid $color-true-gray;

      &.nav-divider {
        height: 16px;
        background-color: $color-light-gray;
      }
    }

    a {
      display: block;
      padding: 20px 16px;
      color: $color-warm-gray;
      font-size: $font-size-base;

      &:hover,
      &:focus,
      &.active {
        color: $color-red;
      }

      svg {
        margin-right: 20px;
        vertical-align: text-bottom;
      }
    }
  }

  &.active {
    display: block;

    + .content {
      display: none;
    }
  }
}
