.table {
  margin-bottom: 0;

  thead > tr > th {
    color: $color-warm-gray;
    font-weight: 500;
    font-size: $font-size-base;
    border-bottom: 0;
  }

  tbody > tr > td {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: $font-size-base;
    border-color: $color-true-gray;

    &.w-cell-xs {
      min-width: 80px;
    }

    &.w-cell-sm {
      min-width: 144px;
    }

    &.w-cell-lg {
      max-width: 504px;
    }
  }

  &.table-user {
    thead > tr > th,
    thead:first-child > tr:first-child > th,
    tbody > tr > td {
      border: 1px solid $color-true-gray;
    }

    thead > tr > th {
      background-color: $color-light-gray;
    }

    tbody > tr {
      cursor: pointer;

      &:hover {
        background-color: $color-lighter-pink;
      }
    }

    .btn {
      background: transparent;
      border: 0;
      font-size: 14px;
      margin-right: 16px;
      padding: 3px 8px;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}
