.writer {
  display: table;

  .writer-avatar,
  .writer-name,
  .writer-review-info {
    display: table-cell;
    vertical-align: middle;
  }

  .writer-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .writer-name {
    padding-left: 8px;
    font-size: $font-size-sm;
  }

  .writer-review-info {
    padding-left: 8px;

    p {
      font-weight: 500;
      margin-bottom: 0;
    }

    time {
      color: $color-warm-gray;
      font-size: 14px;
      letter-spacing: 0.3px;
      line-height: 1.14;
    }
  }
}
