.badge {
  position: relative;

  &:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $secondary-color;
    position: absolute;
    right: auto;
    top: -3px;
  }
}
