.block {
  @include clearfix();

  &__head {
    width: 696px;
    float: left;
  }

  &__actions {
    width: calc(100% - 696px);
    padding-top: 8px;
    float: right;
    text-align: right;
  }

  &__list {
    width: calc(50% - 16px);
    float: left;
  }

  &__list + &__list {
    margin-left: 32px;
  }

  &__inner + &__inner {
    margin-top: 40px;
  }

  &__inner-head {
    @include font-size-headline();
    margin-bottom: 16px;
  }

  + .block {
    margin: 40px 0;
    padding: 40px 0;
    border-top: 1px solid $light-grey;
  }
}
