.card {
  position: relative;

  &__link {
    display: table;
  }

  &__image,
  &__body {
    display: table-cell;
  }

  &__image {
    @include background-image();
    width: 276px;
    height: 160px;
    margin-right: 24px;
    border-radius: 5px;
  }

  &__body {
    position: relative;
    padding-left: 24px;
  }

  &__blocks {
    @include clearfix();
    margin-top: 32px;
  }

  &__block {
    &:first-child {
      width: 35%;
      float: left;
    }

    &:last-child {
      @include flexbox(flex-end, flex-start);
      flex-wrap: wrap;
      float: right;
      width: 65%;
    }

    .label {
      @include font-size-text--xs();
      text-transform: uppercase;
    }

    .content {
      @include font-size-text--sm();
    }
  }

  &__block-inner {
    width: 33.3333%;

    &:last-child {
      width: 66.6666%;
    }

    &:nth-child(n + 4) {
      margin-top: 16px;
    }
  }
}
