.card {
  &__link {
    display: block;
    color: $primary-color;
  }

  &--sm {
    margin-top: 24px;

    .card__body {
      margin-top: 8px;
    }
  }

  &--md {
    margin-top: 32px;

    .card__image {
      height: 160px;
      background-position: center;
      background-size: cover;
    }

    .card__body {
      margin-top: 16px;
    }

    .card__title {
      font-size: 18px;
      line-height: 1.33;
      margin-bottom: 8px;
    }

    .card__footer {
      margin-top: 16px;
      position: relative;
    }
  }
}
