.form-body {
  position: relative;

  + .form-body {
    margin-top: 8px;
  }
}

.form-group {
  .form-label {
    @include font-size-text--sm();
  }

  &--vertical {
    .form-label {
      margin-bottom: 8px;
    }

    .form-list {
      @include flexbox(flex-start, center);

      &__seperate {
        color: $light-grey;
        padding: 0 4px;
      }
    }

    + .form-group--vertical {
      margin-top: 32px;
    }
  }

  &--horizontal {
    font-size: 0;

    .form-label,
    .form-body {
      display: inline-block;
      vertical-align: middle;
    }

    .form-label {
      width: 80px;
      color: $primary-color;
    }

    .form-body {
      width: calc(100% - 80px);
      padding-left: 16px;
    }

    + .form-group--horizontal {
      margin-top: 16px;
    }
  }
}

.form-text-error {
  @include font-size-text--xs();
  margin-top: 4px;
  color: $secondary-color;
}

.form-hint {
  padding-left: 96px;
}
