.form-body {
  position: relative;

  + .form-body {
    margin-top: 8px;
  }
}

.form-group {
  .form-label {
    @include font-size-text--sm();
  }

  &--vertical {
    .form-label {
      margin-bottom: 8px;
    }

    .form-list {
      @include flexbox(flex-start, center);

      &__seperate {
        color: $light-grey;
        padding: 0 4px;
      }
    }

    + .form-group--vertical {
      margin-top: 32px;
    }
  }

  &--horizontal {
    font-size: 0;

    > .form-label,
    > .form-body {
      display: inline-block;
      vertical-align: middle;
    }

    > .form-label {
      width: 80px;
      color: $primary-color;

      &.width-auto {
        width: auto;
      }
    }

    > .form-body {
      width: calc(100% - 80px);
      padding-left: 16px;
    }

    + .form-group--horizontal {
      margin-top: 16px;
    }
  }
}

.form-register {
  padding: 40px 0;

  + .form-register {
    margin-top: 0;
    border-top: 1px solid $light-grey;
  }

  &:last-child {
    padding-bottom: 0;
  }

  > .form-body {
    width: 55%;
  }

  > .form-label {
    width: 45%;
    padding-right: 80px;
    vertical-align: top;

    p {
      font-size: 16px;

      + p {
        font-weight: 400;
        margin-top: 8px;
        line-height: 1.5;
      }
    }
  }

  .col-6:nth-child(n + 3) {
    margin-top: 24px;
  }
}

.form-text-error {
  @include font-size-text--xs();
  margin-top: 4px;
  color: $secondary-color;
}

.form-hint {
  padding-left: 96px;
}
