.list-inline {
  font-size: 0;

  &__item {
    display: inline-block;
  }
}

.list-view {
  &__item {
    padding: 40px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__item + &__item {
    border-top: 1px solid $light-grey;
  }
}

.list-writer {
  &__item {
    &:last-child {
      border-bottom: 1px solid $light-grey;
    }

    a {
      display: block;
      padding: 12px;
      color: $dark-color;
      font-weight: 600;

      &:hover {
        background-color: $light-grey;
      }

      span {
        font-weight: 400;
        color: $color-warm-gray;
      }
    }

    svg {
      vertical-align: middle;
      margin-right: 16px;
    }
  }

  &__item + &__item {
    border-top: 1px solid $light-grey;
  }

  &__link {
    padding: 16px;
    width: 100%;
    color: $dark-color;
  }

  &__header {
    @include font-size-text--xs();
    padding: 4px 16px;
    color: $dark-color;
  }
}
