.seperator {
  position: relative;
  height: 1px;
  background-color: $light-grey;

  &__text {
    background-color: $light-color;
    font-weight: 500;
  }

  &--centered .seperator__text {
    @include centered();
    padding: 0 40px;
  }

  &--left .seperator__text {
    @include y-centered();
    left: 0;
    padding-right: 24px;
  }
}
