.text--md {
  @include font-size-headline();
}

.text--sm {
  @include font-size-text--sm();
}

.text--xs {
  @include font-size-text--xs();
}

.text--grey {
  color: $aluminium-color;
}

.text--centered {
  text-align: center;
}

.text--right {
  text-align: right;
}

.mt-4 {
  margin-top: 4px;
}

.pagination {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
