.text--xl {
  @include font-size-headline--xl();
}

.text--md {
  @include font-size-headline--md();
}

.text--bold {
  @include font-size-headline();
}

.text--sm {
  @include font-size-text--sm();
}

.text--xs {
  @include font-size-text--xs();
}

.text--grey {
  color: $aluminium-color;
}

.text--centered {
  text-align: center;
}

.text--right {
  text-align: right;
}

.mt-4 {
  margin-top: 4px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-48 {
  margin-top: 48px;
}

.pl-24 {
  padding-left: 24px;
}

.pagination {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
