.writer {
  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    @include font-size-headline--md();
    margin-top: 16px;
  }
}
