@mixin flexbox($justify, $align) {
  align-items: $align;
  display: flex;
  flex: 1 0 auto;
  justify-content: $justify;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin x-centered() {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@mixin y-centered() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin transition($property, $duration, $animateType) {
  transition: $property $duration $animateType;
}
