<%=provide(:page_title, @user.username ) %>
<%=provide(:page_description, 'Miêu tả') %>
<%=provide(:page_url, root_path) %>

<% if @user == current_user %>
<h1>Profile</h1>
<% else %>
<h1>User</h1>
<% end %>
