<header id="header" class="header">
  <div class="header__logo">
    <a href="/">
      <img width="74" src="<%= asset_pack_path('images/img_logo.png') %>" alt="logo">
    </a>
  </div>

  <ul class="list-inline header__links">
    <li class="header__link list-inline__item">
      <a href="#" class="link has-border is-active">Xe máy</a>
    </li>
    <li class="header__link list-inline__item">
      <a href="#" class="link has-border">Ô tô</a>
    </li>
    <li class="header__link list-inline__item">
      <a href="#" class="link has-border">Phương tiện khác</a>
    </li>
    <li class="header__link list-inline__item">
      <a href="#" class="link has-border">Chia sẻ</a>
    </li>
  </ul>

  <div class="header__ultility">
    <div class="header__search-box">
      <div class="form-body">
        <input type="text" class="form-input search-box has-icon" placeholder="Tìm Kiếm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path fill="#484848" fill-rule="evenodd" d="M13.6 12.417l4.492 4.5a.833.833 0 0 1-1.184 1.166L12.425 13.6a6.667 6.667 0 1 1 1.175-1.175v-.008zm-5.267.916a5 5 0 1 0 0-10 5 5 0 0 0 0 10z"/>
        </svg>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="header__actions">
      <ul class="header__links list-inline">
        <li class="header__link list-inline__item">
          <a href="/posts/new" class="link has-border">Đăng Bài</a>
        </li>
        <%= render_notification_activity(current_user) %>
        <%= render_notification_message(current_user) %>
        <li class="header__link list-inline__item">
          <button class="btn--icon">
            <img class="header__avatar" src="<%= current_user.avatar_url(:medium) %>" alt="logo">
          </button>
        </li>
      </ul>
    </div>
    <% else %>

    <% end %>
  </div>
</header>
