<li class="dropdown__item">
  <a href="#" class="writer writer--default">
    <div class="writer__avatar">
      <img src="<%= message.with_user(current_user).avatar_url(:medium) %>" alt="avatar">
    </div>
    <div class="writer__body">
      <p class="writer__name"><%= message.with_user(current_user).username %><span class="writer__date"><%= message.last_message.created_date %></span></p>
      <p class="writer__text"><%= message.last_message.msg %></p>
    </div>
    <span class="writer__badge"></span>
  </a>
</li>
