img class="icon-20 mr-8" src=asset_pack_path('images/img_msg.png')
  a.horizontal.center
    h4.u-text-gray.mr-8 Messages 
    h5.u-text-white style="background-color: red; padding-right: 5px; padding-left: 5px; border-radius: 50px;" id="message-counter" = 0
