.notify-header
  img class="icon-24 mr-8" src=asset_pack_path('images/img_msg.png')
  .counter-notify
      h5.u-text-white style="background-color: red; border-radius: 50px;" id="message-counter" = 0
