<div id="main" class="main">
  <div class="main-content">
    <div class="container">
      <ul class="list-writer">
        <li class="list-writer__item mb-16">
          <h3 class="headline">Your Notifications</h3>
        </li>
        <li class="list-writer__item">
          <a class="writer writer--default" href="/messages/thien-kim">
            <div class="writer__avatar"><img src="/uploads/store/88e4d08e05f5f260ba1a503efc25725b.png" alt="avatar"></div>
            <div class="writer__body">
              <p class="writer__name">Nguyễn Thành Công<span class="writer__date">Apr 17</span></p>
              <p class="writer__text">khjhj</p>
            </div>
            <span class="writer__badge"></span>
          </a>
        </li>
        <li class="list-writer__item">
          <a class="writer writer--default" href="/messages/thien-kim">
            <div class="writer__avatar"><img src="/uploads/store/88e4d08e05f5f260ba1a503efc25725b.png" alt="avatar"></div>
            <div class="writer__body">
              <p class="writer__name">Nguyễn Thành Công<span class="writer__date">Apr 17</span></p>
              <p class="writer__text">khjhj</p>
            </div>
            <span class="writer__badge"></span>
          </a>
        </li>
        <li class="list-writer__item">
          <a class="writer writer--default" href="/messages/thien-kim">
            <div class="writer__avatar"><img src="/uploads/store/88e4d08e05f5f260ba1a503efc25725b.png" alt="avatar"></div>
            <div class="writer__body">
              <p class="writer__name">Nguyễn Thành Công<span class="writer__date">Apr 17</span></p>
              <p class="writer__text">khjhj</p>
            </div>
            <span class="writer__badge"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
