.pagination {
  margin: 32px auto 0;
  padding: 11px 16px;
  display: table;
  border: 1px solid $color-true-gray;
  border-radius: $radius;
  background: $color-white;

  @include respond-to-mobile() {
    margin-top: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }

  li {
    display: table-cell;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  a {
    color: $color-warm-gray;

    &:hover,
    &.active {
      color: $color-black;
    }
  }

  svg {
    vertical-align: text-top;
  }

  .next,
  .prev {
    padding-left: 0;
    padding-right: 0;
  }
}
