.toast {
  @include clearfix();
  padding: 16px;
  color: $color-white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  position: fixed;
  top: 56px;
  left: 232px;
  right: 32px;
  z-index: 40;
  transition: all 0.18s cubic-bezier(0.25, 0.1, 0.25, 1);

  @include respond-to-mobile() {
    left: 16px;
    right: 16px;
  }

  svg {
    color: $color-white;
    width: 16px;
    height: 16px;
  }

  &.toast-green {
    background-color: $color-frog-green;
  }

  &.toast-warning {
    background-color: $color-orange;
  }

  &.toast-red {
    background-color: $color-red;
  }
}
