h1,
h2,
h3,
h6,
h5,
h4 {
  margin: 0;
  font-weight: normal;
}

h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: $font-size-xl;
  line-height: 1;
  font-weight: 300;
}

h2 {
  font-size: 2.5em!important;
  font-weight: 400 !important;
  line-height: 1.143;
}

h3 {
  font-size: $font-size-md;
  line-height: 1.334;
}

