$primary-color: #484848;
$dark-color: #101010;

$secondary-color: #ff7b1d;
$pumpkin-color: #ff7d1f;
$safety-orange: #ff6b00;

$tertiary-color: #a8b0c3;
$grey-color: #9ba2a7;
$aluminium-color: #868c93;
$white-smoke: #f8f8f8;
$light-grey: #dedede;
$whisper-color: #eaeaea;
$color-true-gray: #efefef;
$catskill-gray-color: #dee2e6;
$snow-color: #fafafa;
$tuna-color: #495057;
$heathered-gray-color: #858e96;
$color-white: #fff;
$color-warm-gray: #8a8a8a;
$color-black: #363636;
$light-color: #fff;

$body-font-color: $primary-color !default;
