$primary-color: #484848;
$dark-color: #101010;

$secondary-color: #ff7b1d;
$pumpkin-color: #ff7d1f;

$tertiary-color: #a8b0c3;
$grey-color: #9ba2a7;
$light-grey: #dedede;
$whisper-color: #eaeaea;

$light-color: #fff;

$body-font-color: $primary-color !default;
