$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto !default;
$fallback-font-family: 'Helvetica Neue', sans-serif !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

$font-size-base: 16px !default;
$line-height-base: 1.5 !default;
$font-weight-normal: 400 !default;

$body-font-size: $font-size-base !default;
$body-line-height: $line-height-base !default;
$body-font-weight: $font-weight-normal !default;
$body-spacing: -0.3px !default;
